@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to the paint collecting website
    </h1>
    <p>Learn about <a href="https://citadelcolour.com">Citadel Paints</a>.</p>
</div>
